#Mostly from OJ Reeves post: http://buffered.io/posts/webmachine-erlydtl-and-riak-part-2/
global
        maxconn 2048

defaults
        retries 3
        maxconn 1024
        timeout connect 3000

frontend riak_pb
        mode tcp
        bind *:8087
        default_backend riak_pb_cluster
        timeout client 1200000

backend riak_pb_cluster
        mode tcp
        balance roundrobin
        timeout server 1200000
        server riak1 127.0.0.1:10017 check
        server riak2 127.0.0.1:10027 check
        server riak3 127.0.0.1:10037 check
        server riak4 127.0.0.1:10047 check
        server riak5 127.0.0.1:10057 check

frontend riak_http
        bind *:8098
        mode http
        default_backend riak_http_cluster
        timeout client 1200000

backend riak_http_cluster
        mode http
        balance roundrobin
        timeout server 1200000
        option httpchk GET /ping
        server riak1 127.0.0.1:10018 check
        server riak2 127.0.0.1:10028 check
        server riak3 127.0.0.1:10038 check
        server riak3 127.0.0.1:10048 check
        server riak3 127.0.0.1:10058 check
