%%-*- mode: erlang -*-

{erl_opts, [
            {src_dirs, ["./src"]}
           ]}.

{deps, [
        {lager,  "2.0.*", {git, "git://github.com/basho/lager.git", "master"}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", "3038f3bcc23dd3b759c0f1124dab6ab4b8f3a9e0" }}
]}.

{require_otp_vsn, "R1[456]"}.
