%%-*- mode: erlang -*-

{erl_opts, [
            {src_dirs, ["./src"]}
           ]}.

{deps, [
        {lager,  "2.0.*", {git, "git://github.com/basho/lager.git", "master"}},
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "1.4.1"}}}
]}.

{require_otp_vsn, "R1[456]"}.
